<!-- Need to update and fix weird streoscope round issue -->

<div class="container" (click)="canvasRef.nativeElement.requestPointerLock()">

  <canvas #forestCanvas class="stereo-canvas"></canvas>

@if (useStereo) {
  <ng-container>
    <div class="viewfinder-mask-left"></div>
    <div class="viewfinder-mask-right"></div>
    <div class="center-divider"></div>
  </ng-container>
}

  <div class="controls">
    <button (click)="toggleStereo()">
      {{ useStereo ? 'Switch to Mono View' : 'Switch to Stereo View' }}
    </button>
  </div>
</div>
