<div class="contact-container" [class.submitted]="submitted">

  @if(!submitted) {

  <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
  <p class="info-text">{{ 'CONTACT.INFO_TEXT' | translate }}</p>

  <form (ngSubmit)="submitForm()">
    <label for="email">{{ 'CONTACT.EMAIL_LABEL' | translate }}</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="email"
      name="email"
      [placeholder]="'CONTACT.EMAIL_PLACEHOLDER' | translate"
      required
    />

    <label for="message">{{ 'CONTACT.MESSAGE_LABEL' | translate }}</label>
    <textarea
      id="message"
      rows="4"
      [(ngModel)]="message"
      name="message"
      [placeholder]="'CONTACT.MESSAGE_PLACEHOLDER' | translate"
      required
    ></textarea>

    <button type="submit">{{ 'CONTACT.SEND_BUTTON' | translate }}</button>
  </form>
}

  @if(submitted) {

  <div class="thank-you">
    <h3>{{ 'CONTACT.THANK_YOU_TITLE' | translate }}</h3>
    <p [innerHTML]="'CONTACT.THANK_YOU_TEXT' | translate: { email: email }"></p>
    <button (click)="resetForm()">{{ 'CONTACT.SEND_ANOTHER_BUTTON' | translate }}</button>
  </div>
}
</div>
