<div class="">
  <h1>{{ 'TITLE' | translate }}</h1>
    <button (click)="useLanguage('en')">English</button>
    <button (click)="useLanguage('es')">Español</button>
</div>

<nav>
  <button (click)="navigateTo('/3dviewer')">{{ 'NAV.VIEWER' | translate }}</button>
  <button (click)="navigateTo('/panorama')">{{ 'NAV.PANORAMA' | translate }}</button>
  <button (click)="navigateTo('/contact')">{{ 'NAV.CONTACT' | translate }}</button>
  <button (click)="navigateTo('/bug-report')">{{ 'NAV.BUG' | translate }}</button>
</nav>

<router-outlet></router-outlet>
