<div class="viewer-container">
  <div class="kid-toolbar">
    <button class="kid-button" (click)="resetView()">
      <img src="assets/icons/reset.svg" alt="Reset" />
      <span>Reset</span>
    </button>
    <button class="kid-button" (click)="toggleWireframe()">
      <img src="assets/icons/wireframe.svg" alt="Wireframe" />
      <span>Wireframe</span>
    </button>
    <button class="kid-button danger" (click)="clearModel()">
      <img src="assets/icons/delete.svg" alt="Clear" />
      <span>Clear</span>
    </button>
  </div>

  <div class="canvas-container">
    <canvas #viewerCanvas></canvas>
  </div>
</div>
