// -------- VR Viewer ---------------------

.viewer-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black; // fallback in case render fails
  overflow: hidden;
}

.viewer-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  touch-action: none;
}

/* viewer-canvas.styles.scss */

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.canvas-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: auto;
  touch-action: none;
}

.canvas-container app-viewer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:fullscreen,
:-webkit-full-screen {
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: black !important;
}

canvas:fullscreen,
canvas:-webkit-full-screen {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
